.header {
  margin: 35px 15px;

  .selectionsContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .dateClass {
      width: 95% !important;
    }
    .modalHeading {
      font-size: 20px;
      font-weight: 600;
    }
    .selectionContainer {
      display: flex;
      align-items: flex-end;
      .selections {
        width: 100%;
        position: relative;
      }
    }
    .datePickerClass {
      display: flex;
      gap: 10px;
    }
    @media (max-width: 500px) {
      flex-wrap: wrap;
    }
  }

  .modalBtnContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    margin-top: 15px;

    .btn {
      border-radius: 5px;
      max-width: 130px;
      min-width: 130px;
      p {
        color: #fafafa !important;
        font-size: 15px !important;
      }
      // &:hover {
      //   background: transparent !important;
      //   border: 1px solid #438afe;
      //   p {
      //     color: #438afe !important;
      //   }
      // }
    }

    .btn2 {
      border-radius: 5px;
      max-width: 130px;
      min-width: 130px;
      background: transparent !important;
      border: 1px solid #438afe;
      p {
        color: #438afe !important;
        font-size: 15px !important;
      }
    }
  }
}

.thumbnailContainer {
  position: relative;
  padding-left: 10px;
  border-radius: 10px;
  text-align: left !important;
  @media (max-width: 600px) {
    max-width: 360px;
    min-width: 360px;
  }
  .iconDiv {
    .imagesDiv {
      display: flex;
      align-items: center;
      gap: 20px;
      // flex items-center gap-5
      img {
        height: 50px;
        width: 60px;
      }
    }
  }

  .thumbnailZoom {
    background-color: white;
    border-radius: 5px;
    display: none;
    position: absolute;
    top: -100%;
    left: 60px;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    animation: slide-down 0.5s ease-in-out forwards;
    img {
      height: 200px;
    }
  }

  &:hover .thumbnailZoom {
    display: block;
  }
}

.videoPlayer {
  width: 100%;
  max-height: 50vh;
  object-fit: contain;
}

.ModalClassName {
  max-width: 31vw !important;
  @media (max-width: 1100px) {
    max-width: 41vw !important;
  }
  @media (max-width: 600px) {
    max-width: 90vw !important;
  }
}
