.activeTab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  margin: 0px auto;
  max-width: 500px;
  width: 100%;

  width: 100%;
  button {
    margin: auto;
  }
}
.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  input {
    padding: 14px 0px 15px 13px !important;
  }
}

.inputClass {
  width: 97% !important;
  border-radius: 23px !important;
}
p {
  color: rgb(73, 73, 73);
  font-size: 12px;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column-reverse;
  gap: 20px;
}

.btn {
  border-radius: 23px !important;
  background-color: #438afe !important;
  height: 45px;
  p {
    color: white !important;
    font-size: 18px !important;
  }
}
.btn2 {
  border-radius: 23px !important;
  background: #fff !important;
  border: 1px solid #438efa;
  height: 45px;
  z-index: 2;

  @media (max-height: 800px) {
    border: 1px solid #0166f8;
  }
  p {
    color: #0166f8 !important;
    font-size: 18px !important;
    @media (max-height: 800px) {
      color: #0166f8 !important;
    }
  }
}
.mainHeading {
  font-size: 28px;
  text-align: center;
  font-weight: 500;
  margin: 15px;
  padding: 15px;
  @media (max-width: 400px) {
    font-size: 18px !important;
  }
}

.optInputField {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 11px;
  gap: 10px;
  div {
    justify-content: center;
    gap: 15px;
    @media (max-width: 400px) {
      gap: 5px !important;
      flex-wrap: wrap !important;
      max-width: 201px !important;
      min-width: 207px !important;
    }
    input {
      padding: 10px !important;
      @media (max-width: 400px) {
        width: 16px !important;
        height: 16px !important;
      }
    }
  }
}

.modalWrapper {
  max-width: 35vw !important;
  min-height: 22vh !important;
  background-color: #f6f6f6 !important;
  @media (max-width: 1000px) {
    max-width: 100vw !important;
  }
}

.otpBtn {
  border-radius: 23px !important;
  background-color: #438afe !important;
  height: 45px;
  width: 175px;
  p {
    color: white !important;
    font-size: 18px !important;
    @media (max-width: 400px) {
      font-size: 12px !important;
    }
  }
  @media (max-width: 400px) {
    border-radius: 13px !important;
    background-color: #438afe !important;
    height: 36px;
    width: 130px;
  }
}

.btnClass {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
