.header {
  margin: 15px 0px;
  .text {
    padding: 15px 0px;
  }
}

.userContainer {
  margin: 25px 10px;
  .btnContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @media (max-width: 700px) {
      flex-wrap: wrap !important;
    }
    .btn {
      border-radius: 5px;
      p {
        color: #fafafa !important;
        font-size: 15px !important;
      }
      &:hover {
        background: transparent !important;
        border: 1px solid #438afe;
        p {
          color: #438afe !important;
        }
      }
    }
  }
  .btnBox {
    margin: 10px 0px;
    .filterButton {
      border-radius: 5px;
      max-width: 130px;
      min-width: 130px;
      p {
        color: #fafafa !important;
        font-size: 15px !important;
      }
    }
  }
}

.modalWrapper {
  padding: 15px 25px 25px 25px !important;
}

.heading {
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0px;
  padding: 10px 0px;
}

.labelClass {
  width: 100% !important;
}

.inputFieldsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 15px 0px;
}

.inputClass {
  width: 96% !important;
}

.modalBtnContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  margin-top: 15px;

  .btn {
    border-radius: 5px;
    max-width: 130px;
    min-width: 130px;
    p {
      color: #fafafa !important;
      font-size: 15px !important;
    }
    // &:hover {
    //   background: transparent !important;
    //   border: 1px solid #438afe;
    //   p {
    //     color: #438afe !important;
    //   }
    // }
  }

  .btn2 {
    border-radius: 5px;
    max-width: 130px;
    min-width: 130px;
    background: transparent !important;
    border: 1px solid #438afe;
    p {
      color: #438afe !important;
      font-size: 15px !important;
    }
  }
}

.iconRow {
  display: flex;
  // justify-content: center;
  // align-items: center;

  .iconsBtn {
    background: transparent !important;
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
    max-width: 30px !important;
    padding: 19px 15px 15px 20px !important;
    &:hover {
      background: #e0e0e0 !important;
      border-radius: 26px !important;
      align-items: center !important;
      justify-content: center !important;
    }
  }
}

.mainContainer {
  margin-top: 25px;
  .selectionsContainer {
    display: flex;
  }
  .pagination {
    margin: 10px;
  }
}

.modalHeading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.ModalClassName {
  max-width: 31vw !important;
  @media (max-width: 1100px) {
    max-width: 41vw !important;
  }
  @media (max-width: 600px) {
    max-width: 90vw !important;
  }
}
