.header {
  margin: 15px 0px;
  .text {
    padding: 15px 0px;
  }
}

.mainContainer {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  margin-top: 25px;
  .selectionList {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .selectionsContainer {
      display: flex;
      .selectionContainer {
        display: flex;
        align-items: flex-end;
        .selections {
          position: relative;
        }
      }
    }
    .pagination {
      margin: 10px;
    }
  }
}

.videoPlayer {
  width: 100%;
  max-height: 50vh;
  object-fit: contain;
}

.Selections {
  width: 100% !important;
}

.thumbnailContainer {
  position: relative;
  padding-left: 10px;
  border-radius: 10px;
  text-align: left !important;
  @media (max-width: 600px) {
    max-width: 360px;
    min-width: 360px;
  }
  .iconDiv {
    .imagesDiv {
      display: flex;
      align-items: center;
      gap: 20px;
      // flex items-center gap-5
      img {
        height: 50px;
      }
    }
  }

  .thumbnailZoom {
    background-color: white;
    border-radius: 5px;
    display: none;
    position: absolute;
    top: -100%;
    left: 60px;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    animation: slide-down 0.5s ease-in-out forwards;
    img {
      height: 200px;
    }
  }

  &:hover .thumbnailZoom {
    display: block;
  }
}

.text {
  overflow: hidden;
  color: #0f0f0f;
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @media (max-width: 635px) {
    font-size: 12px;
    flex: 1;
  }
}

.videoListTable {
  @media (max-width: 635px) {
    max-width: 216px;
    min-width: 210px;
  }
}

.iconRow {
  display: flex;
  .iconsBtn {
    background: transparent !important;
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
    max-width: 30px !important;
    &:hover {
      background: #e0e0e0 !important;
      padding: 19px 15px 15px 20px !important;
      border-radius: 26px !important;
      align-items: center !important;
      justify-content: center !important;
    }
  }
}
