.mainContainer {
  margin: 25px 10px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 7px 9px 0px #1a92ff70;
  height: 100%;
  max-height: 80vh;
  min-height: 80vh;

  .header {
    .text {
      padding: 15px 0px;
    }
  }

  .selectionsContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .dateClass {
      width: 95% !important;
    }

    .modalHeading {
      font-size: 20px;
      font-weight: 600;
    }

    .selectionContainer {
      display: flex;
      align-items: flex-end;

      .selections {
        width: 100%;
        position: relative;
      }
    }

    .datePickerClass {
      display: flex;
      gap: 10px;
    }

    @media (max-width: 500px) {
      flex-wrap: wrap;
    }
  }
}

.btnContainer {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 635px) {
    flex-wrap: wrap;
  }

  .filterButton {
    border-radius: 5px;
    max-width: 130px;
    min-width: 130px;

    p {
      color: #fafafa !important;
      font-size: 15px !important;
    }
  }
}

.modalBtnContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  margin-top: 15px;

  .btn {
    border-radius: 5px;
    max-width: 130px;
    min-width: 130px;

    p {
      color: #fafafa !important;
      font-size: 15px !important;
    }

    // &:hover {
    //   background: transparent !important;
    //   border: 1px solid #438afe;
    //   p {
    //     color: #438afe !important;
    //   }
    // }
  }

  .btn2 {
    border-radius: 5px;
    max-width: 130px;
    min-width: 130px;
    background: transparent !important;
    border: 1px solid #438afe;

    p {
      color: #438afe !important;
      font-size: 15px !important;
    }
  }
}

.ModalClassName {
  max-width: 31vw !important;

  @media (max-width: 600px) {
    max-width: 90vw !important;
  }
}

.videoPlayer {
  width: 100%;
  max-height: 50vh;
  object-fit: contain;
}

.Selections {
  width: 100% !important;
}

.thumbnailContainer {
  position: relative;
  padding-left: 10px;
  border-radius: 10px;
  text-align: left !important;

  @media (max-width: 600px) {
    max-width: 360px;
    min-width: 360px;
  }

  .iconDiv {
    .imagesDiv {
      display: flex;
      align-items: center;
      gap: 20px;

      // flex items-center gap-5
      img {
        height: 50px;
        width: 60px;
      }
    }
  }

  .thumbnailZoom {
    background-color: white;
    border-radius: 5px;
    display: none;
    position: absolute;
    top: -100%;
    left: 60px;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    animation: slide-down 0.5s ease-in-out forwards;

    img {
      height: 200px;
    }
  }

  &:hover .thumbnailZoom {
    display: block;
  }
}

.text {
  overflow: hidden;
  color: #0f0f0f;
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @media (max-width: 635px) {
    font-size: 12px;
    flex: 1;
  }
}

.videoListTable {
  @media (max-width: 635px) {
    max-width: 216px;
    min-width: 210px;
  }
}

.iconRow {
  display: flex;

  .iconsBtn {
    background: transparent !important;
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
    // padding: 19px 15px 15px 20px !important;
    max-width: 30px !important;

    &:hover {
      max-width: 30px !important;
      background: #e0e0e0 !important;
      border-radius: 26px !important;
      align-items: center !important;
      justify-content: center !important;
    }
  }
}