.loading {
  margin: 25px 10px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 7px 9px 0px #1a92ff70;
  height: 100%;
  max-height: 80vh;
  min-height: 80vh;

  .modalWrapper {
    padding: 15px 25px 25px 25px !important;
  }

  .btnContainer {
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 635px) {
      flex-wrap: wrap;
    }

    .filterButton {
      border-radius: 5px;
      max-width: 130px;
      min-width: 130px;

      p {
        color: #fafafa !important;
        font-size: 15px !important;
      }
    }
  }

  .heading {
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0px;
    padding: 10px 10px;
  }

  .labelClass {
    width: 100% !important;
  }

  .inputFieldsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 15px 0px;
  }

  .inputClass {
    width: 96% !important;
  }

  .modalBtnContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    margin-top: 15px;

    .btn {
      border-radius: 5px;
      max-width: 130px;
      min-width: 130px;

      p {
        color: #fafafa !important;
        font-size: 15px !important;
      }

      // &:hover {
      //   background: transparent !important;
      //   border: 1px solid #438afe;
      //   p {
      //     color: #438afe !important;
      //   }
      // }
    }

    .btn2 {
      border-radius: 5px;
      max-width: 130px;
      min-width: 130px;
      background: transparent !important;
      border: 1px solid #438afe;

      p {
        color: #438afe !important;
        font-size: 15px !important;
      }
    }
  }

  .iconRow {
    display: flex;
    // justify-content: center;
    // align-items: center;

    .iconsBtn {
      background: transparent !important;
      border: none !important;
      padding: 0px !important;
      margin: 0px !important;
      // padding: 19px 15px 15px 20px !important;
      max-width: 30px !important;

      &:hover {
        max-width: 30px !important;
        background: #e0e0e0 !important;
        border-radius: 26px !important;
        align-items: center !important;
        justify-content: center !important;
      }
    }
  }

  .pagination {
    margin: 10px;
  }
}

.selectionsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .dateClass {
    width: 97% !important;
  }

  .modalHeading {
    font-size: 20px;
    font-weight: 600;
  }

  .selectionContainer {
    display: flex;
    align-items: flex-end;

    .selections {
      width: 100%;
      position: relative;
    }
  }

  @media (max-width: 500px) {
    flex-wrap: wrap;
  }
}

.ModalClassName {
  max-width: 31vw !important;

  @media (max-width: 1100px) {
    max-width: 41vw !important;
  }

  @media (max-width: 600px) {
    max-width: 90vw !important;
  }
}

.modalBtnContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  margin-top: 15px;

  .btn2 {
    border-radius: 5px;
    max-width: 130px;
    min-width: 130px;
    background: transparent !important;
    border: 1px solid #438afe;

    p {
      color: #438afe !important;
      font-size: 15px !important;
    }
  }

  .btn {
    border-radius: 5px;
    max-width: 130px;
    min-width: 130px;

    p {
      color: #fafafa !important;
      font-size: 15px !important;
    }

    // &:hover {
    //   background: transparent !important;
    //   border: 1px solid #438afe;
    //   p {
    //     color: #438afe !important;
    //   }
    // }
  }
}