/* variables */
$wave-bg: #ffd600;

/* mixins */
@mixin flex($t, $j, $a) {
  display: flex;
  flex-flow: $t nowrap;
  justify-content: $j;
  align-items: $a;
}

/* styles */
.container {
  display: block;
  margin: 0px 20px;
}

.parent {
  width: 100%;
  height: 100vh;
  @include flex(row, center, center);
}

.wave_card {
  width: 250px;
  height: 300px;
  @include flex(column, end, center);
  position: relative;
  box-shadow: 11px 17px 48px #e5e5e5;
  border-radius: 10px;
  overflow: hidden;

  &-shape {
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: 1;
    opacity: 0.6;
    top: -250px;
    left: -100px;
    border-radius: 150px;
    background: $wave-bg;
    animation: rotate 30s linear infinite;
  }
  &-shape:nth-child(1) {
    top: -245px;
    left: -98px;
    opacity: 0.4;
    z-index: 2;
    animation: rotate 25s linear infinite;
  }
  &-shape:nth-child(2) {
    top: -240px;
    opacity: 0.3;
    z-index: 3;
    animation: rotate 32s linear infinite;
  }
  &-title {
  }
  &-subtitle {
    margin-bottom: 30px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
