.dateContainer {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  .labels {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 400;
  }
}

.react-datepicker__input-container {
  height: 40px !important;
}
.react-datepicker-wrapper {
  height: 40px !important;
  height: 40px !important;
  // input {
  //   background: transparent !important;
  //   border: 1px solid #c0c0c0 !important;
  // }
}

.react-datepicker__input-container {
  input {
    display: block;
    width: 100%;
    background-color: black !important;
  }
}

.datePicker {
  padding: 15px;
  height: 25.5px !important;
  background: transparent !important;
  border: 1px solid #c0c0c0;
  .react-datepicker__calendar-icon {
    padding: 20px !important;
  }
}

.react-datepicker__calendar-icon {
  height: 100px !important;
}
