// Navbar.module.scss
.navbar {
  position: relative;
  display: flex;
  background-color: #fafcff;
  justify-content: space-between;
  align-items: center;
  box-shadow: 7px 5px 15px -4px rgba(63, 106, 235, 0.75);
  -webkit-box-shadow: 7px 5px 15px -4px rgba(63, 106, 235, 0.75);
  -moz-box-shadow: 7px 5px 15px -4px rgba(63, 106, 235, 0.75);
  img {
    width: 50px;
    padding: 5px 20px;
  }
  .navItems {
    div {
      a {
        text-shadow: none;
        font-weight: bolder;
        position: relative;
        display: inline;
        list-style: none;
        margin: 10px;
        padding: 10px 20px;
        cursor: pointer;
        color: #438afe;
        text-decoration: none;

        @media (max-height: 770px) {
          padding: 5px;
        }
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 0.17rem;
          background-color: #438afe;
          left: 0;
          bottom: 0;
          transform-origin: 0% 100%;
          transform: scaleX(0);
          transition: transform 1s ease;
        }

        &:hover::after {
          transform: scaleX(1); // Change scaleX to 1 on hover
        }
      }
    }
    @media (max-width: 770px) {
      display: none;
    }
  }

  .navLogo a,
  .navButton a {
    color: #438afe;
    list-style: none;
    text-decoration: none;
    display: flex;
  }

  .navLogo {
    font-size: 32px;
  }

  .navButton {
    box-shadow: 7px 5px 15px -4px rgba(63, 106, 235, 0.75);
    background-color: #438afe;
    border-radius: 50px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;

    .animLayer {
      position: absolute;
      top: 0;
      left: 50%;
      width: 0;
      height: 100%;
      background-color: #438afe;
      transition:
        width 0.8s ease,
        left 0.8s ease;
    }

    &:hover .animLayer {
      width: 100%;
      left: 0;
      background-color: white;
    }

    a {
      display: block;
      padding: 5px 0px;
      color: white;
      text-decoration: none;
      // position: relative;
      z-index: 1;
      &:hover {
        color: white;
      }
    }
  }
}

.mobileMenu {
  display: flex;
  flex-direction: row-reverse;
  background-color: #e1e1e1 !important;
  width: 100%;
  position: fixed;
  top: 55px;
  left: 0;
  justify-content: center;
  transition:
    transform 1s ease,
    opacity 0.3s ease; /* Add transition properties */
  transform: translateY(-100%); /* Start offscreen */
  opacity: 0; /* Hide initially */
  z-index: 99;

  &.animation {
    transform: translateY(0); /* Slide down from top */
    opacity: 1; /* Show */
  }

  .mobileNavItems {
    .ListMenu {
      ul {
        list-style: none;
        color: black;
        padding: 10px;
        margin: 10px;
        li {
          padding: 10px;
          margin: 10px;
          display: flex;
          justify-content: flex-start;
          align-items: end;
          a {
            color: black;
            text-decoration: none;
          }
          svg {
            cursor: pointer;
            height: 25px !important;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.mobileNavItems > ul {
  padding: 0px;

  > li {
    text-align: center;
    // position: relative;
    list-style: none;
    margin: 10px;
    padding: 5px 0px;
    cursor: pointer;

    > a {
      color: white;
      text-decoration: none;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.17rem;
      background-color: white;
      left: 0;
      bottom: 0;
      transform-origin: 0% 100%;
      transform: scaleX(0);
      transition: transform 1s ease;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }
}

.mobileNavButton {
  background-color: #141214;
  border-radius: 50px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;

  .animLayer {
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background-color: white;
    transition:
      width 0.3s ease,
      left 0.3s ease;
  }

  &:hover .animLayer {
    width: 100%;
    left: 0;
  }

  &:hover a {
    color: #141214;
  }

  > a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    // position: relative;
    z-index: 1;
  }
}

.hamburgerCross {
  display: block;
  cursor: pointer !important;
  color: rgb(21, 21, 21);
  font-size: 25px;
  position: absolute;
  top: 12px;
  left: 20px;
}

.hamburgerMenu {
  display: none;
  @media (max-width: 770px) {
    display: block;
    color: rgb(41, 41, 41);
    cursor: pointer;
    font-size: 24px;
  }
}

.listNavbar {
  @media (max-width: 770px) {
    display: none;
  }
}

.pages {
  display: flex;
  align-items: center;
  padding: 0px 35px 9px 0px;

  .settingsActive {
    border-bottom: 1px solid black;
  }

  .rdControlCover {
    background-color: transparent;
    border: none;
  }
  @media (max-width: 770px) {
    display: none;
  }
}

.logoutDiv {
  position: relative;
  margin: 10px;

  .logout {
    width: 30px;
    height: 30px;
    margin: 0px 6px;
    cursor: pointer;
  }
}
.logoutDivMenu {
  position: relative;
  margin: 10px;
  margin-top: 45px;

  .logout {
    width: 30px;
    height: 30px;
    margin: 0px 6px;
    cursor: pointer;
  }
  svg {
    left: 3rem !important;
  }
}

.modalWrapper {
  max-width: 250px !important;
  @media only screen and (max-width: 770px) {
    max-width: 350px !important;
  }
}

.mainModal {
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: column;
  gap: 10px;
  .mainHeading {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
  }
  .logoutDivModal {
    position: relative;
    margin: 10px;
    text-align: center;
    // margin-top: 45px;

    .logout {
      // width: 47px;
      height: 40px;
      margin: 0px 6px;
      cursor: pointer;
    }
    // svg {
    //   left: 96px !important;
    // }
  }
  .btnClass {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    .btn2 {
      border-radius: 5px;
      background: #ff5050 !important;
      // max-width: 160px;
      // min-width: 160px;
      p {
        color: #fafafa !important;
        font-size: 15px !important;
      }
      &:hover {
        background: transparent !important;
        border: 1px solid #ff5050;
        p {
          color: #ff5050 !important;
        }
      }
    }
    .btn {
      border-radius: 5px;
      // max-width: 130px;
      // min-width: 130px;
      background: transparent !important;
      border: 1px solid #ff5050;
      p {
        color: #ff5050 !important;
        font-size: 15px !important;
      }
      &:hover {
        background: #ff5050 !important;
        border: 1px solid #ff5050;
        p {
          color: #fafafa !important;
        }
      }
    }
  }
}
