.header {
  margin: 35px 15px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 7px 9px 0px #1a92ff70;
}

.thumbnailContainer {
  position: relative;
  padding-left: 10px;
  border-radius: 10px;
  text-align: left !important;
  @media (max-width: 600px) {
    max-width: 360px;
    min-width: 360px;
  }
  .iconDiv {
    .imagesDiv {
      display: flex;
      align-items: center;
      gap: 20px;
      // flex items-center gap-5
      img {
        height: 50px;
      }
    }
  }

  .thumbnailZoom {
    background-color: white;
    border-radius: 5px;
    display: none;
    position: absolute;
    top: -100%;
    left: 60px;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    animation: slide-down 0.5s ease-in-out forwards;
    img {
      height: 200px;
    }
  }

  &:hover .thumbnailZoom {
    display: block;
  }
}

.videoPlayer {
  width: 100%;
  max-height: 50vh;
  object-fit: contain;
}
.ModalClassName {
  max-width: 31vw !important;
  @media (max-width: 1100px) {
    max-width: 41vw !important;
  }
  @media (max-width: 600px) {
    max-width: 90vw !important;
  }
}
